<%- FONTS -%>
body, html, article {
	font-family: Poppins, Verdana, sans-serif, sans;
}
body {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	color:#333;
	background:#fff;
}
article {
  padding: 45px;
  word-wrap: break-word;
  color: #24292e;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
code, kbd, pre {
	font-family:  FiraCode-Retina, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	white-space: pre-line;
	font-size: 1em;
}
details {
  display: block;
}
summary {
  display: list-item;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
img {
  border-style: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}